body {
  margin: 0;
  padding: 0;
}
.calendarBox {
  width: 316px;
  margin: 2px;
}
table tr {
  display: table-row;
}
@media (max-width: 321px){
  .calendarBox {
      width: 319;
      height: 190;
  }
}
.monthCalendar, .monthCalendars {
  width: 316px;
  height: 285px;
}
.monthCalendar tr td,
.monthCalendars tr td {
  border: 1px solid #ccc;
  padding: 5px;
  text-align: center;
}
.monthCalendars tr td a,
.monthCalendar tr td a {
  color: #555;
  cursor: pointer;
}
.monthCalendars tr td a:hover, .monthCalendars tr td a:focus,
.monthCalendar tr td a:hover, .monthCalendar tr td a:focus {
  color: #333;
  text-decoration: none;
}
.monthCalendar tr td:hover, .monthCalendar tr td:focus,
.monthCalendars tr td:hover, .monthCalendars tr td:focus{
  background-color: #ccc;
}
.monthCalendar tr:last-of-type td:last-of-type {
  text-align: right;
  border: 0px;
  position: relative;
}
.monthCalendar tr:last-of-type td:last-of-type span {
  display: inline-block;
  position: absolute;
  left: 5px;
  top: 5px;
}
.monthCalendar tr:last-of-type td:last-of-type:hover,
.monthCalendar tr:last-of-type td:last-of-type:focus {
  background-color: transparent;
}
.monthCalendar tr:first-child:hover,
.monthCalendar tr:first-child:focus {
  background-color: transparent;
}
.monthCalendars {
  /*display: none;*/
}
.monthCalendar {
  position: absolute;
  top: 2px;
  left: 2px;
  display: none;
}
.monthCalendar tr td.othermonths {
  color: #ccc;
}
.monthCalendar tr td.othermonths:hover, .monthCalendar tr td.othermonths:focus {
  background-color: #aaa;
}
