.calendar-picker {
  font-size: 10pt;
  margin: 0 auto;
}
.month-select {
  text-align: center;
}
.month-left, .month-right {
  margin: 0 10px;
}
.month-left {
  float: left;
}
.month-right {
  float: right;
}
.month-name {
  font-size: 12pt;
}
.dates-of-month, .days-of-week {
  margin: 10px;
  width: 274px;
}
.dates-of-month ul, .days-of-week ul {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}
.dates-of-month ul li, .days-of-week ul li {
  display: inline-block;
  width: 30px;
  margin: 2px;
}
.dates-of-month a, .days-of-week a {
  color: green;
}
